
@model List<L02P02_2022AE650_2023CA651.Models.libros>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Libro</th>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.id</td>
                <td>@libro.nombre</td>
                <td>@libro.descripcion</td>

                <td>
                    @Html.ActionLink("Seleccionar", "ListaComentarios", "Comentarios", new { idLibro = libro.id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>